.sidebar {
    position: relative;
    width: 200px;
    transition: transform 0.3s ease-in-out;
    z-index: 100;
    height: 104vh;
    display: block;
  }
  

  
  .sidebar ul {
    list-style: none;
    padding: 0;
    margin: 20px;
  }
  
  .sidebar li {
    margin-bottom: 10px;
  }
  

  
  @media (max-width: 768px) {
    .sidebar {
     display: none;
    }
  

  }
  