.sidebar {
    position: relative;
    width: 200px;
    background-color: #f0f0f0;
    transition: transform 0.3s ease-in-out;
    z-index: 100;
    height: full;
  }
  
  .sidebar.open {
    transform: translateX(0);
  }
  
  .sidebar ul {
    list-style: none;
    padding: 0;
    margin: 20px;
  }
  
  .sidebar li {
    margin-bottom: 10px;
  }
  
  .toggle-button {
    display: none;
  }
  
  @media (max-width: 768px) {
    .sidebar {
      transform: translateX(-100%);
    }
  
    .toggle-button {
      display: block;
    }
  }
  